<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
  <form action = "/ios/task_discover/" method ="get" enctype="multipart/form-data" accept-charset="utf-8">
  		<label for="name">设备id</label><input type="text" name ="uuid">
  		<label for="id">发现者id</label><input type="text" name ="account">
  		<label for="name">经度坐标</label><input type="text" name ="longitude">
  		<label for="name">纬度坐标</label><input type="text" name ="latitude">
  		<label for="name">距离</label><input type="text" name ="rssi">
  		<label for="name">发现时间</label><input type="text" name ="discovertime">
  		<input type="submit" value ="提交任务发现数据">
  	</form>
</body>
</html>
